
__pycache__/
*.py[cod]
*$py.class
.env
.venv
.ipynb_checkpoints
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
data/**
!data/raw/.gitkeep
!data/processed/.gitkeep
models/**
!models/.gitkeep
outputs/**
!outputs/.gitkeep
.DS_Store
Thumbs.db
