# --- Kernpakete (Torch-Stack) ---
torch==2.0.1
torchvision==0.15.2

# --- Bildverarbeitung (restlich) ---
Pillow
tqdm
pyyaml
einops
requests

# --- Qualitätsmetriken ---
lpips
sewar==0.4.6
pyiqa==0.1.11

# --- Real-ESRGAN-Stack ---
realesrgan==0.3.0
basicsr==1.4.2
facexlib==0.3.0
gfpgan==1.3.8
